.example-card {
    max-width: 400px;
    display: block;
    margin: auto;
}
.mat-card-image {
    background-size: cover;
}

.loading
{
    display: block;
    margin: auto;
    width: 25%;
    padding: 10px;
}